$transition: 40;  // These 4 values
$dots: 12;        // should be
$lg-stars: 2;     // synced with
$sm-stars: 3;     // JS code.
$px: 4px;
$lg-star: 48px;
$sm-star: 28px;
$star-color: #FEC8C9;
$level-colors: (
  #F9329D,
  #FE5EB4,
  #FE6FBB,
  #FE70EE,
  #E270FE,
  #BA70FE
);
$levels: length($level-colors);

html, body, .sky {
  width: 100%;
  height: 100%;
}

.sky {
  position: relative;
}

.sky-level {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  $percent: 100 / $levels;
  @for $i from 1 through $levels {
    &:nth-child(#{$i}) {
      padding-top: #{$percent * $i}vh;
      height: #{$percent * $i}vh;
      color: nth($level-colors, $i);
      background: currentColor;
      z-index: $levels - $i;
    }
  }
    
  div {
    float: left;
    height: $px;
    background: currentColor;
  }
    
  $p: ceil(20 / $transition);
  @for $i from 1 through $levels {
    @for $j from 1 through $transition {
      &:nth-child(#{$i})
      div:nth-child(#{$j}) {
        $r: $p * ($transition - $j + 1);
        width: #{random($r) + "%"};
        margin-left:
          #{random(25) + "%"};
      }
    }
  }
}

.sky-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $levels + 1;
  
  .dot {
    position: absolute;
    width: $px;
    height: $px;
    background: $star-color;
    
    @for $i from 1 through $dots {
      &:nth-child(#{$i}) {
        top: #{random(90) + "%"};
        left: #{random(100) + "%"};
      }
    }
    
    &--blinking {
      animation:
        blink .25s linear infinite;
    }
  }
  
  .star {
    position: absolute;
    color: $star-color;
    animation:
      scale .5s linear infinite;
    
    &--sm {
      width: $sm-star;
      height: $sm-star;
      
      @for $i from 1 through $sm-stars {
        $index: $dots + $i;
        &:nth-child(#{$index}) {
          top: #{random(80) + "%"};
          left: #{random(90) + "%"};
        }
      }
    }
    
    &--lg {
      width: $lg-star;
      height: $lg-star;
      
      @for $i from 1 through $lg-stars {
        $index: $dots + $sm-stars + $i;
        &:nth-child(#{$index}) {
          top: #{random(60) + "%"};
          left: #{random(80) + "%"};
        }
      }
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: currentColor;
      animation:
        grow .5s linear infinite;
    }
    
    &__part {
      position: absolute;
      background: currentColor;
      
      &:nth-child(1) {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 20%;
      }
      
      &:nth-child(2) {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 20%;
        height: 100%;
      }
    }
  }
}

@keyframes blink {
  0%, 32%, 67% {
    opacity: 1;
  }
  33%, 66% {
    opacity: 0;
  }
}

@keyframes scale {
  0%, 16.4%,
  83.6%, 100% {
    transform: scale(.75, .75);
  }
  16.5%, 33%,
  66.6%, 83.5% {
    transform: scale(1, 1);
  }
}

@keyframes grow {
  0%, 16.4%,
  83.6%, 100% {
    width: 20%;
    height: 20%;
  }
  16.5%, 33%,
  66.6%, 83.5% {
    width: 50%;
    height: 50%;
  }
  33.1%, 50%, 66.5% {
    width: 100%;
    height: 100%;
  }
}